.sidebar {
  padding: 1rem;
  width: 16rem;
  background-color: black;
  color: white;
}

.sidebar h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.board-button {
  padding: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.board-button.active {
  background-color: #7c3aed;
}

.board-button:hover {
  background-color: #374151;
}

.add-board-input,
.add-board-button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.add-board-input {
  color: black;
}

.add-board-button {
  background-color: #a855f7;
  border-radius: 0.25rem;
}